.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}


h1 {

text-align: center;
padding-top: 70px;
padding-bottom:70px;

}

form {
    max-width: 400px;
    margin: auto;

  }
 
  label, input {
    display: block;
    width: 90%;
  }
  label {
    margin-top: 30px;
  }
.flex-container{

  padding-left: 30px;
  padding-top: 30px;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 15px 15px;
  vertical-align: middle;
}
thead {
  background: #fff;
  border-bottom: 1px solid #cecfd5;
  color: #6F6F6F;
  font-size: 9px;
  font-weight: bold;
  line-height: 12px;
  text-align: left;
  text-transform: uppercase;
}
tr {
  border-bottom: 1px solid #cecfd5;
}
.medicines-image {
  width: 100px;
  height: 63px;
  line-height: 12px;
  object-fit: contain;
}
.medicines-image img {
  width: 100px;
  height: 63px;
  
}
#page-details .medicines-image {
  height: auto;
  width: 250px;
}


.medicines-date,
.medicines-title,
.medicines-type,
.medicines-price {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-transform: capitalize;
  min-width: 50px;
}
.medicines-title {
  font-size: 14px;
  font-weight: bold;
}
.medicines-price {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  text-align: right !important;
}
.card {
  transition: all 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 0;
  display: none;
}
.img-avatar{

width: 100px;
height: 100px;


}
.locone{

  padding-bottom:10px;
}
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}